.form__demo {
  background-color: orange;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  width: 60%;
}

.form__demo legend {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto 1rem auto;
  width: fit-content;
}

.form__demo input {
  background-color: whitesmoke;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  padding: 0.5em 0.75em;
  width: 80%;
}
