.navbar {
  align-items: center;
  background-color: #71f6b8;
  border-bottom: 1px solid grey;
  display: flex;
  height: 15vh;
  width: 100%;
}
.navbar section {
  display: flex;
  flex: 1;
}
.navbar section div {
  align-items: center;
  display: flex;
  flex: 1;
}

.logo {
  background-color: #eee;
  border: 1px solid grey;
  height: 80%;
  margin: 1rem;
}

.logo-ph {
  padding-left: 1em;
}

.navigation {
  display: flex;
  height: 100%;
}
.navigation div {
  height: 100%;
  width: 100%;
}

.wrap__headshot {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.headshot {
  border: 1px solid black;
  border-radius: inherit;
  height: 50px;
  width: 50px;
}

.menu {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  height: 40px;
  padding: 2px;
  width: 40px;
}

.wrap__menu {
  position: relative;
}
