.profile a {
  color: black;
  text-decoration: none;
}

.profile legend {
  font-size: larger;
  font-weight: bold;
}

.profile input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
}

.profile__edit {
  padding: 1rem;
}

.profile fieldset {
  margin: 1rem auto;
  padding: 0;
}

.profile p label {
  display: inline-block;
  width: 75px;
}

.dashboard-navigation {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.active {
  background-color: lightgoldenrodyellow;
}

.tab {
  border: 1px solid rgb(0, 0, 0, 0);
  flex: 1;
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 1em;
  width: fit-content;
}
.tab:hover {
  border: 1px solid #aaa;
  cursor: pointer;
}

.profile__edit h1 {
  text-align: center;
}
