/* General */

.hidden {
  display: none;
}

.inline-center {
  text-align: center;
}

.block-center {
  margin: 0 auto;
}

fieldset {
  border: none;
}

/* Landing */
section {
  min-height: 150px;
  padding: 6% 0;
  background-color: #ccc;
}

section:nth-child(even) {
  background-color: #eee;
}

.hero * {
  padding: 2rem;
}

.hero h1 {
  font-size: 3em;
}

.form__login {
  max-width: fit-content;
}

/* Header */
.nav__no-auth {
  background-color: #aaa;
  margin: 0;
  padding: 0.5em;
}

.nav__no-auth p {
  padding-right: 0.5rem;
  text-align: right;
}

.nav__auth {
  align-items: center;
  background-color: #aaa;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.nav__auth input {
  padding: 0.25rem;
}

/* Footer */

footer {
  align-items: center;
  background-color: #aaa;
  display: flex;
  height: 5rem;
  justify-content: center;
  padding: 1rem;
}
