.landing section {
  min-height: 150px;
}

.landing section:nth-child(even) {
  background-color: #eee;
}

.hero {
  padding: 6% 0;
}

.hero div {
  align-items: center;
  display: flex;
}

.hero h2 {
  text-align: center;
}

.img__logo {
  height: 200px;
}

.img__about {
  display: block;
  width: 100vw;
}
/* .about {
  background-image: url(https://images.unsplash.com/photo-1530522070995-aa23c19e77d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: contain;
} */

.Link__register {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  color: black;
  display: block;
  margin: 0 auto;
  padding: 1em;
  text-decoration: none;
  width: fit-content;
}
